
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

h1{
    color: red;
    
}

#Welcome{
   color: white;
   background-color: black;
   width: 500px;
   height: 100px; 
   padding: 10px;
   border: 20px solid rgb(35, 209, 194);
   
}


    /* id */
#big{
    display: flex;
   justify-content: center;
   align-items: center;  
}

    /* class */

.today{
    background-color: brown;
}
