


#big{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: blue;
    text-shadow: 20px -30px 5px gray;
}

hr{
    transform: rotate(180deg);
}

p{
    color: red;
}
