
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: Algerian; 
    font-size: 15px;
    color: red;
    margin-bottom: 10px;
}

fieldset{
    padding: 10px;
}

#big-div{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: blue;
    width: 150px;
    height: 80px;
    margin-left: 8px;
    padding: 10px;
}

.small-div{
    background-color: aqua;
    height: 60px;
    padding: 10px 10px 10px 10px;
    font-size: 12px;
}
img{
    width: 150px;
    height: 80px;
    text-shadow: 10px;
}

