*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img1{
    width:600px;
    height: 100px;
    /* background-color: red; */
}
.big-div{
    padding: 30px;
}

.middle{
    display: flex;

}
.galaxy{
    width: 120px;
    height: 240px;
}
.img2{
    width: 120px;
    height: 240px;
}
.later{
    width:350px;
    height: 240px;
    /* background-color: aqua; */
}
.picture{
    width: 130px;
    height: 240px;
    /* background-color: yellow; */
}

.top{
    padding: 10px;
    width: 100%;
    height: 50px;
    /* background-color: blue; */
}
.body{
    padding: 10px;
    width: 100%;
    height: 50px;
    /* background-color: rgb(31, 130, 28); */
}
.img3{
    width: 100%;
    height: 140px;
}
.img4{
   width: 130px;
    height: 240px; 
}   

.img6{
    width:600px;
    height: 100px;  
}